<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link th:href = "@{/css/mainPage.css}" rel="stylesheet">
  <title>Main page</title>
</head>
<body>
<div class="topnav">
  <a href="/">My flights</a>
  <a href="/available-destinations">Available destinations</a>
  <a sec:authorize="isAuthenticated()" href="/account-info" class="active">Account information</a>>
  <a style="float: right" sec:authorize="isAuthenticated()" th:text="${email}" href="/account-info"></a>
  <a style="float: right" sec:authorize="isAuthenticated()" href="/logout">Logout</a>
  <a style="float: right" sec:authorize="isAnonymous()" href="/login">Login</a>
</div>

</body>
</html>