<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link th:href = "@{/css/mainPage.css}" rel="stylesheet">
    <title>Main page</title>
</head>
<body>
<div class="topnav">
    <a class="active">My flights</a>
    <a>Available destinations</a>
    <a sec:authorize="isAuthenticated()">Account information</a>>
    <a style="float: right" sec:authorize="isAuthenticated()" th:text="${email}"></a>
    <a style="float: right" sec:authorize="isAuthenticated()" href="/logout">Logout</a>
    <a style="float: right" sec:authorize="isAnonymous()" href="/login">Login</a>
</div>

<div sec:authorize="isAuthenticated()" class="center">
    <table style="border-spacing: 10px;">
        <thead>
        <tr th:if="${!flights.empty}">
            <th> From </th>
            <th> To </th>
            <th> Departure time </th>
            <th> Arrival time </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${flights.empty}">
            <td colspan="4"> You haven't registered flights </td>
        </tr>
        <tr th:each="flight : ${flights}">
            <td><span th:text="${flight.destination.from.country.countryName} + ' : ' + ${flight.destination.from.codeName}"> From </span></td>
            <td><span th:text="${flight.destination.to.country.countryName} + ' : ' + ${flight.destination.to.codeName}"> To </span></td>
            <td><span th:text="${flight.destination.departureTime}"> Departure Time </span></td>
            <td><span th:text="${flight.destination.arrivalTime}"> Arrival Time </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>